#carousel {
    position: relative;
    z-index: 1;
}

#carousel img {
    height: 400px;
}

#carousel  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    z-index: 2;
}

#carousel .overlay .texto1 {
    height: 90px;
    background-color: rgb(17, 16, 9);
    border-radius: 40px;
    opacity: 50%;;
}   

#carousel .overlay .texto1 h1 {
    font-size: 20px;
}


#carousel  .overlay .container,
#carousel  .overlay .row {
    height: 100%;
}